[submodule "Barrel/vendor/spdlog"]
	path = Barrel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Barrel/vendor/GLFW"]
	path = Barrel/vendor/GLFW
	url = https://github.com/IgorKowalski1525/glfw
[submodule "Barrel/vendor/imgui"]
	path = Barrel/vendor/imgui
	url = https://github.com/IgorKowalski1525/imgui
[submodule "Barrel/vendor/glm"]
	path = Barrel/vendor/glm
	url = https://github.com/g-truc/glm
